name: Manual CI

on:
  workflow_dispatch:

jobs:
  check-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Verify Flask app can be imported
        run: |
          python - <<EOF
          from app import app
          print("Flask app imported successfully")
          EOF

      - name: Build Docker image
        run: |
          docker build -t flask-app .

