name: Manual CI

on:
  workflow_dispatch:

jobs:
  check-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Verify Flask app can be imported
        run: |
          python - <<EOF
          from app import app
          print("Flask app imported successfully")
          EOF

      - name: Build Docker image
        run: |
          docker build -t flask-app .

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        

      - name: Tag Docker image with commit SHA
        run: |
          docker tag flask-app ghcr.io/harshureddy06/flask-app:${{ github.sha }}


      - name: Push Docker image to GHCR
        run: |
          docker push ghcr.io/harshureddy06/flask-app:${{ github.sha }}

